<a href="https://colab.research.google.com/github/ANNLITTA/Introduction-to-python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num=int(input("enter a number"))
if(num>0):
  print("absolute value of,num,"is",num ")
else:
  num=num*(-1)
  print("absolute value of",num,"is",num)

enter a number-10
absolute value of 10 is 10

In [3]:

x=int(input("enter the no.of classes"))
y=int(input("enter the no.of classes attended"))
z= y/x*100
if z>=75:
  print("u r allowed to write exam")
else:
  print("u r not allowed to write exam")

enter the no.of classes30
enter the no.of classes attended28
u r allowed to write exam

In [4]:

print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")
print("5.modulus")
print("6.floor division")
print("7.exponent")
x=int(input("select a number"))
m1=int(input("enter a number"))
m2=int(input("enter a number"))
if x==1:
  print(m1+m2)
if x==2:
  print(m1-m2)
if x==3:
  print(m1*m2)
if x==4:
  print(m1/m2)
if x==5:
  print(m1%m2)   
if x==6:
  print(m1//m2)
if x==7:
  print(m1**m2)       
else:
  print("thank you")

1.addition
2.subtraction
3.multiplication
4.division
5.modulus
6.floor division
7.exponent
select a number3
enter a number10
enter a number20
200
thank you

In [5]:
m1=int(input('Enter marks of first subject '))
m2=int(input('Enter marks of second subject '))
m3=int(input('Enter marks of third subject '))
m4=int(input('Enter marks of fourth subject '))
m5=int(input('Enter marks of fifth subject '))
print('Least marks:',min(m1,m2,m3,m4,m5))
print('Maximum marks:',max(m1,m2,m3,m4,m5))

Enter marks of first subject 40
Enter marks of second subject 38
Enter marks of third subject 36
Enter marks of fourth subject 35
Enter marks of fifth subject 34
Least marks: 34
Maximum marks: 40

In [ ]:
x=input("enter a username")