<a href="https://colab.research.google.com/github/ANNLITTA/Introduction-to-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark=int(input())

50

In [2]:
if mark >50:
  print("ypu are passed")
if mark <50:
  print("you are failed")

In [5]:
salary=int(input())

2500000

In [9]:
if salary ==2500000:
  print("you are taxable")
if salary >2500000:
  print("you are taxable")
if salary<2500000:
  print("you are not taxable")

you are taxable

In [12]:
if salary >=2500000:
  print("you are taxable")
  print(salary*10/100)
if salary <2500000:
  print("you are taxable")

you are taxable
250000.0

In [13]:
salary=int(input())

300000

In [14]:
salary=300000
amount=300000-25000
print(amount*10/100)

27500.0